<div class="container">
  <header class="page-header">
    <h1>Random Animal Generator</h1>
    <p>Finding random people random animals since 2016</p>
  </header>
</div>
<div id="navBar" class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <a class="btn btn-default" href="#home" role="button">Home</a>
    <a class="btn btn-default" href="#animals" role="button">Search Critters</a>
    <a class="btn btn-default" href="#favorites" role="button">Favorite Critters</a>
  </div>
  <div class="col-md-4"></div>
</div>
